ul {
    
    width:100%; 
    float:left; 
    text-align:center; 

}

li {

    padding-right: 20px;
    display: inline-block;
    list-style:none;

}

li .mymenu {

   font-family: 'open_sansbold';
   font-size:1.6em;
   text-decoration: none;
   color:#4c4c4c;
   -webkit-border-box: 0 1px 0 0 #4c4c4c;
   border-bottom: 4px solid transparent;
   -webkit-transition: border-bottom .3s linear;

}

li .mymenu:hover {
    
    border-bottom:4px solid #4c4c4c;
}

.btn {

    outline: none;
    border: none;
    padding: 0.7em 1em;
    display: inline-block;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'open_sansregular';
    border-radius: 3px;
    background:#353535;
    position: relative;
    transition: all 0.8s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  
  }
  
  .btn-box {
  
    overflow: hidden;
    color: #fff;
  }
  
  .btn-box i { 
  
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    left: 0.1em;
    font-size:1em;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
  
  }
  
  .btn-box:hover i  { 
  
    left:-0.2em;
  
  }
  
  .btn-box .reflexo {
  
    background-color: #fff;
    width: 100%;
    height: 30px;
    position: absolute;
    left: -145px;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
  
  }
  
  .btn-box:hover {
  
    background-color: #00a8ea;
    color: #353535;
  
  }
  
  .btn-box:hover .reflexo {
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    left: 135px;
  
  }
   
 .conteudo {
  display: flex;
  width: 350px;
  scroll-snap-type: x mandatory;
  scroll-padding: 25px;
  column-gap: 20px;
 }

 .card {
  flex: 0 0 100%;
  padding: 30px;
  scroll-snap-align: start;
  border-radius: 30px;
 }
 