body {
    background-image: url(img/dublin-irlanda-1642527116472_v2_900x506.jpg.webp);
    background-repeat: repeat-y;
    background-clip: border-box;
    background-size: cover;
    background-position-y: -100px;
}

#cadastro-container{
    background-color:#171846 ;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 40px;
    text-align: center;
}