@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif
}

body {
    margin: 300px 0px 0px 0px;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "section section"
        "footer footer";
    
        grid-template-rows: 40px 1fr;
}

input, button {
    position: relative;
    left: 1100px;
    bottom: 150px;
}

header {
    position: fixed;
    grid-area: header;
    background-color: rgb(23, 24, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100vw;
    height: 120px;
    padding: 0px 8px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.123);
    z-index: 20;
}

a:-webkit-any-link {
    text-decoration: none;
}

a > .menu {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 20px;
    top: 40px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
}

a > .menu:hover {
    transform-style: preserve-3d;
    transform: translate(-3px, -3px);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.582);
}

a > .acessar{
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    background-color: #FF7D00;
    color: white;
    margin: 60px;
    padding: 10px;
    top: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.322);
}

a .acessar:hover {
    border: 2px solid rgba(255, 255, 255, 0.411);
    transform: translate(-4px, -4px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.582);
    transition: transform 0.4s, border .5s;
    color: white;
}

main {
    grid-area: main;
    background-color: rgb(27, 19, 99);
    height: 600px;
}

main > video {
    max-width: 100%;
}

main h1 {
    margin: 20px;
    font-size: 3em;
    color: white;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.555);
}

main p {
    margin: 50px 20px;
    font-size: 1.6em;
    color: white;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.555);
}

main > section {
    position: absolute;
    display: inline-block;
    background-color: rgba(55, 118, 201, 0.514);
    text-shadow: 1px 1px 0px black;
    height: 300px;
    width: 600px;
    padding: 110px 0px 190px 0px;
    top: 340px;
    bottom: -500;
    left: 0px;
}

section {
    height: 1200px;
    grid-area: section;
    background-color: white;
    text-align: justify;
    padding: 30px;
}

footer {
    grid-area: footer;
    background-color: rgb(23, 24, 70);
    color: white;
    text-align: center;
    padding: 8px;
}

footer a {
    text-decoration: none;
    color: white;
}