


.container {
  max-width: 960px;
}



header {
  width: 100%;
  background-color: #171846;
}

.logo {
  width: 15rem;
  background-size: cover;
}

.navbar {
  background-color: #171846;
  box-shadow: 5px 5px 50px #00000052;
}

#navbarNav {
  justify-content: right;
}

.navbar-toggler {
  flex-wrap: nowrap;
}

.nav-item {
  padding: 10px;
}

.acessar {
  margin-left: 70px;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
  background-color: #FF7D00;
  color: white;
  text-decoration: none;
  text-align: center;
}

.acessar:hover {
  scale: 105%;
  color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
  transform: translate(3px);
  font-weight: 400;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(../assets/img/menu.png);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
  transform: translate(-3px, -3px);
  font-weight: 400;
}

h1, h2, p {
  color: #fff;
  text-shadow: black 0.2em 0.2em 0.2em;

}


.btn {
  background-color: #FF7D00;
  border: #171846;
 }



.intercambio button {
  background-color:#171846;
}





.div-intercambio {
  background-image:url("imagens/new-zeland.jpg");
  background-size: cover;
}




.div-avancado{
  background-color: #171846;
}

.img-avancado{
  background-image:url("imagens/australia.jpg");
  background-size: cover;
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
}

.div-intermediario {
  background-color: #171846;
}

.img-intermediario {
  background-image:url("imagens/eua1.jpg");
  background-size: cover;
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
}

.div-basico{
  background-color: #171846;
 
}

.img-basico {
  background-image:url("imagens/inglaterra1.jpg");
  background-size: cover;

}


.footer img {
  width: 5em;
  height: 5em;
  margin-right: 1em;
  
}

.footer button{
  border: none;
  float: right;
  background-color: none;
  
}
/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }

}


