
.container {
  max-width: 960px;
}

h1, h2, p {
  color: #fff;
  text-shadow: black 0.2em 0.2em 0.2em;
}


/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.btn {
  background-color: #FF7D00;
  
}






.div-intercambio {
  background-image:url("imagens/new-zeland.jpg");
  background-size: cover;
}




.div-avancado{
  background-color: #171846;
}

.img-avancado{
  background-image:url("imagens/australia.jpg");
  background-size: cover;
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
}

.div-intermediario {
  background-color: #171846;
}

.img-intermediario {
  background-image:url("imagens/eua1.jpg");
  background-size: cover;
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
}

.div-basico{
  background-color: #171846;
 
}

.img-basico {
  background-image:url("imagens/inglaterra1.jpg");
  background-size: cover;

}

.row{
  border: red solid 2px;
}

.footer{
  float: right;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
